<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="module" src="/static/js/carousel.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="carousel" id="best-films">
            <div class="nav nav-left">
                <div class="ion-chevron-left carousel-arrow-icon-left"></div>
            </div>

            <div class="carousel-content">

                <div class="slide slide-1">
                    <div>film 1</div>
                </div>
                <div class="slide slide-2">
                    <div>film 2 </div>
                </div>
                <div class="slide slide-3">
                    <div>film 3</div>
                </div>
                <div class="slide slide-4">
                    <div>film 4</div>
                </div>
                <div class="slide slide-5">
                    <div>film 5</div>
                </div>
                <!--
                <div class="slide slide-6">
                    <div>film 6</div>
                </div>
                <div class="slide slide-7">
                    <div>film 7</div>
                </div>-->

            </div>

            <div class="nav nav-right">
                <div class="ion-chevron-right carousel-arrow-icon-right"></div>
            </div>
        </div>

    </div>
</body>

</html>